body {
	background-color: #f8f3f0;
	font-family: 'Cairo', sans-serif;
	/* color: #523734; */
}
.d-none {
	display: none
}
.br-logo {
	background-color: #4c4742;
}
.br-logo>span {
	margin-right: 10px;
	background: #ed6b44;
	color: #ffffff;
	padding: 4px 7px 4px 3px;
	text-align: center;
	top: 0;
	position: absolute;
	left: 0;
	font-size: 12px;
	font-weight: 600;
	border-radius: 0 0 10px;
	border-bottom: 5px solid #cc5735;
}
.br-logo>a {
	font-size: 17px;
	font-weight: 600;
}
.br-sideleft {
	background-color: #38342f
}
.br-header {
	background-color: #ffffff;
	box-shadow: none;
}
.navicon-left a {
	color: rgba(17, 14, 14, 0.65);
}
.br-pagetitle h4 {
	color: #DC3545;
}
.tx-black-2 {
	color: #000;
}
.br-header-left .input-group-btn .btn {
	color: rgb(63, 57, 57);
}
h1, h2, h3, h4, h5, h6, .tx-mont {
	font-family: 'Cairo', sans-serif;
}
.sidebar-label {
	font-family: 'Cairo', sans-serif;
	font-size: 17px;
}
.m31 {
	margin-top: 31px;
}
.m3 {
	margin: 0 3px;
}
.mt10 {
	margin-top: 10px;
}
.min-h {
	height: 151px;
}
.yellow {
	background: #ffb230;
}
.gold {
	background: #c3a279;
}
.orang {
	background: #ed6c44;
}
.brown {
	background: #4c4743;
}
.green {
	background: #66bb6a;
}
.danger {
	background: #DC3545;
}
.blue-1 {
	background: #352c66;
}
.blue-2 {
	background: #3a4989;
}
.blue-3 {
	background: #43da86;
}
.blue-4 {
	background: #96a2ba;
}
.blue-5 {
	background: #4f8fe3;
}
.green-2 {
	background: #37474f;
}
.green-3 {
	background: #95c347;
}
.nav .nav-link {
	color: #fff;
}
a {
	/* color: #333; */
	text-decoration: none;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	transition-duration: 1s;
	text-decoration: none;
	text-decoration: none;
	cursor: pointer
}
a:hover {
	text-decoration: none;
	color: red;
}
button:focus {
	outline: 0 auto -webkit-focus-ring-color
}
.bg-br-primary {
	background: white
}
.form-control-dark {
	background-color: #e1e0df;
	color: rgb(255, 255, 255);
	border-color: rgba(255, 255, 255, 0.08);
}
.login-btn {
	background-color: #947b51;
	border-color: #947b51;
}
.new-user {
	color: #e39411;
}
.a-color a {
	color: #ffffff;
	background: #425b74;
	padding: 0 10px;
	margin: 0 5px;
}
.br-pagetitle {
	background: #fff;
	margin: 80px;
	padding-top: 1px;
}
.br-menu-link.show-sub {
	background-color: #131210;
	color: #fff;
}
.br-menu-sub {
	background-color: #4b483f;
}
.br-menu-link {
	color: #ffffff;
}
.br-menu-link.with-sub::after {
	color: #ffffff;
}
.navicon-left a:hover, .navicon-left a:focus {
	color: #dd3544;
}
.br-header-left .form-control {
	color: #000;
	background-color: #d9d5d575;
}
.logged-time {
	color: #dd3544;
	font-weight: 700;
}
.br-menu-link.with-sub.rearw::after {
	content: '';
}
.br-menu-link {
	font-size: 13px;
}
.menu-item-icon {
	width: 9px;
}
.tb-b {
	background: #fff;
}
.table thead tr th, .table thead tr td, .table tbody tr th, .table tbody tr td {
	border-color: rgba(165, 165, 165, 0.19);
}
.cu-btn {
	border-radius: 0;
	margin: 5px;
}
.th-cu>tr>th {
	background-color: #ed6a44;
}
.table .thead-colored>tr>th, .table .thead-colored>tr>td {
	font-weight: 600;
	color: rgb(255, 255, 255);
	font-size: 14px;
}
.btn-bg {
	background: #fff;
	margin: 0 auto;
}
.fr-b {
	background: #ffffff;
}
.modal-dialog {
	width: 870px;
	max-width: 870px;
}

.modal-users-table {
  height: 100px;
  overflow-y: scroll;
}
