<template>

    <div id="aauthorize" class="row mt-2">
        <div class="col SissionDetails">
            <div class="row">
                <div class="col Sissiontitle p-3 d-flex flex-column justify-content-between">
                    <div class="maintitle d-flex justify-content-center">
                        <h5>تفويض جديد</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col maindetails p-2 mt-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-search">
                                <span class="fa fa-search form-control-feedback"></span>
                                <label>اختر العضو المراد تفويضه</label>
                                <v-select style="background: white"
                                          required
                                          :debounce="250"
                                          :options="users"
                                          :searchable="true"
                                          v-model="userId"
                                          label="user_name"
                                >
                                </v-select>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group iftrached text-right  mt-2">
                        <label class="col-12">تفويض على مستوى</label>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="inlineRadio1" v-model.number="type" type="radio"
                                   value="1"> <label class="form-check-label text-dark pr-2" for="inlineRadio1">لجنة /
                            مجلس</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="inlineRadio3" v-model.number="type" type="radio"  value="2">
                            <label class="form-check-label text-dark p-2 pt-2" for="inlineRadio3">إجتماع</label>
                        </div>
                    </div>
                    <div class="form-group iftrached text-right  mt-2">
                        <div v-show="type == 1 " class="form-group border-0 rounded-0 attendstext">
                            <div class="text-right">
                                <label>اختر اللجنة</label>
                                <v-select style="background: white"
                                          required
                                          :options="committeesOptions"
                                          name="selectedcommittee"
                                          :debounce="250"
                                          :searchable="true"
                                          v-model="committee"
                                          label="text"
                                >
                                    <template slot="option" slot-scope="option">
                                        <span class="fa" :class="option.icon"></span>
                                        {{ option.text }}
                                    </template>
                                </v-select>
                            </div>
                        </div>

                        <div v-show="type == 2" class="form-group border-0 rounded-0 attendstext">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-right">
                                        <label>اختر اللجنة</label>
                                        <v-select style="background: white"
                                                  :required="!committee"
                                                  :options="committeesOptions"
                                                  :debounce="250"
                                                  :searchable="true"
                                                  v-model="committee"
                                                  label="text"
                                        >
                                            <template slot="option" slot-scope="option">
                                                <span class="fa" :class="option.icon"></span>
                                                {{ option.text }}
                                            </template>
                                        </v-select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-right">
                                        <label>اختر الإجتماع</label>
                                        <v-select style="background: white"
                                                  required
                                                  :debounce="250"
                                                  :options="sessionsOptions"
                                                  :searchable="true"
                                                  v-model="session"
                                                  label="title"
                                        >
                                            <template slot="option" slot-scope="option">
                                                <span class="fa" :class="option.icon"></span>
                                                {{ option.title }}
                                            </template>
                                        </v-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group iftrached text-right  mt-2" v-show="memberType != 3">
                        <label class="col-12">درجة التفويض</label>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" id="membership" v-model="degree" type="radio" value="membership" checked>
                            <label class="form-check-label text-dark mr-4" for="membership">عضوية
                                <br>
                                <small class="text-danger">يشمل إبداء المرئيات</small>
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" id="management" v-model="degree" type="radio"  value="management">
                            <label class="form-check-label text-dark mr-4" for="management">إدارة
                                <br>
                                <small class="text-danger">يشمل إضافة المرئيات، الأجندة، الملفات، المدعوين، التحضير، بناء وإرسال المحضر</small>
                            </label>
                        </div>
                    </div>

                    <div class="float-left">
                        <input type="hidden" name="user_id" :value="JSON.stringify(userId.user_id)">
                        <input type="hidden" name="committee_id" :value="JSON.stringify(committee.id)">
                        <input type="hidden" name="session_id" :value="JSON.stringify(session.id)">
                        <input type="hidden" name="type" :value="JSON.stringify(type)">
                        <input type="hidden" name="degree" :value="degree">
                        <button type="submit" href="#" title="" target="_self"
                                class="btn sendBtn border-0 rounded-0 ml-2 pl-4 pr-4 mt-2"
                                style="background-color: #002060 !important;"><i class="fa fa-check ml-2"></i>تفويض
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>


</template>


<script>
    import vSelect from "vue-select";

    export default {
        components: {
            vSelect
        },
        state: {},
        props: {
            users: Array,
            itemsIndexUrl: String,
        },

        data() {
            return {
                committeesOptions: [],
                selectedcommittee: 0,
                sessionsOptions: [],
                userId: [],
                committee: [],
                session: [],
                type: null,
                degree: 'membership',
                memberType: 3,

            };
        },

        mounted() {
            this.getCommittees();
        },

        watch: {
            degree(value){
                console.log(value)
            },
            committee(item) {
                this.memberType = this.committee.member_type;
                if(this.type === 2) {
                    this.getSessions();
                }
            }
        },
        methods: {
            getCommittees() {

                // this.committeesOptions.push({id: 1, text: 'test 1', member_type: 1});
                // this.committeesOptions.push({id: 2, text: 'test 2', member_type: 3});
                axios.get(this.itemsIndexUrl).then(response => {
                    var data = [];

                    data.push({id: 0, text: "", 'member_type': ""});
                    response.data.forEach((item, index) => {
                        data.push({id: item.id, text: item.name, member_type: item.member_type});
                    });
                    this.committeesOptions = data;
                });
            },

            getSessions() {
                console.log(this.committee.id);
                axios.get('/committees/authorize/get-session/' + this.committee.id).then(response => {
                    this.sessionsOptions = response.data;
                });
            },

        }

    };
</script>


<style>
    #aauthorize .dropdown li a, label {
        color: black;
    }
</style>

<!--v-validate="'required'"-->