<template>
  <div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCenter">
        <i class="fa fa-users"></i>
        إختيار الأعضاء
      </button>
    </div>

    <div
      class="modal fade"
      id="modalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">إضافة أعضاء</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <span v-show="isLoading">
              {{ trans('messages.loading') }}
              <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </span>
            <div class="form-layout form-layout-4 fr-b p-3">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <label for="name" class="col-md-2 control-label">البحث عن مستخدم</label>
                    <div class="col-md-10">
                      <input
                        type="text"
                        id="name"
                        name="user_info"
                        class="form-control"
                        autocomplete="off"
                        placeholder="البحث بالإسم أو رقم الهوية أو البريد الإلكتروني"
                        v-model="userQuery"
                        @input="isTyping=true"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <table class="table table-bordered tb-b">
                  <thead class="thead-colored th-cu">
                    <tr>
                      <th>الإسم</th>

                      <th>رقم الهوية</th>
                      <th>الوظيفة</th>
                      <th>نوع العضوية</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="user in options" :key="user.user_id">
                      <td>{{user.user_name}}</td>
                      <td>{{user.user_idno}}</td>
                      <td>{{user.user_desc}}</td>
                      <td>
                        <select :id="'select-member-type-user-' + user.user_id ">
                          <option
                            v-for="memberType in memberTypeOptions"
                            :value="memberType.id"
                            v-bind:key="memberType.id"
                          >{{ memberType.name }}</option>
                        </select>
                      </td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-primary"
                          v-on:click="addUser(user)"
                        >{{ trans('messages.action_add') }}</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <h5 class="modal-title">
                  <i class="fa fa-user"></i>
                  الأعضاء المضافين
                </h5>
              </div>

              <div class="row">
                <table class="table table-bordered tb-b">
                  <thead class="thead-colored th-cu">
                    <tr>
                      <th>الإسم</th>
                      <!-- <th>الإداره</th> -->
                      <th>رقم الهوية</th>
                      <th>الوظيفة</th>
                      <th>نوع العضوية</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="user in selectedUsers" :key="user.member.user_id">
                      <td>{{user.member.user_name}}</td>
                      <!-- <td v-if="user">{{user.member.dep_arname}}</td> -->
                      <td>{{user.member.user_idno}}</td>
                      <td>{{user.member.user_desc}}</td>
                      <td>{{user.member_type.name}}</td>

                      <!-- <td>
                        <span v-show="user.isEditing != true">
                          <button
                            type="button"
                            class="btn btn-danger"
                            @click="detachUser(user)"
                          >{{trans('messages.action_delete')}}</button>
                          <button
                            type="button"
                            class="btn btn-success"
                            v-on:click="editUser(user)"
                          >{{ trans('messages.action_edit') }}</button>
                        </span>
                        <span v-show="user.isEditing">
                          <button
                            type="button"
                            class="btn btn-success"
                            v-on:click="updateUser(user, 'modal')"
                          >{{ trans('messages.action_save') }}</button>
                        </span>
                      </td>-->
                    </tr>
                  </tbody>
                </table>

                <div v-for="user in deletedUsers" :key="user.user_id">
                  <input type="hidden" :name="'deleted_members[]'" :value="user.user_id" />
                </div>
              </div>
            </div>

            <input type="hidden" name="selected_members_old" :value="JSON.stringify(selectedUsers)" />

            <slot name="body"></slot>
            <button
              type="button"
              class="btn dialog-centered btn-success"
              data-dismiss="modal"
              aria-label="Close"
            >حفظ</button>
          </div>

          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

    <div class="row" id="app">
      <table class="table table-bordered tb-b" id="table1">
        <thead class="thead-colored th-cu">
          <tr>
            <th>الإسم</th>
            <!-- <th>الإدارة</th> -->
            <th>رقم الهوية</th>
            <th>الوظيفة</th>
            <th>نوع العضوية</th>
            <th>خيارات</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in selectedUsers" :key="user.member.user_id">
            <td>
              {{user.member.user_name}}
              <input
                type="hidden"
                :name="'selected_members[' + user.member.user_id + '][committee_member_id]'"
                :value="user.user_id"
                @change="changeAge(selectedUsers,$event)"
              />
              <input
                type="hidden"
                :name="'selected_members[' + user.member.user_id + '][user_id]'"
                :value="user.member.user_id"
                @change="changeAge(selectedUsers,$event)"
              />
              <input
                type="hidden"
                :name="'selected_members[' + user.member.user_id + '][member_type_id]'"
                :value="user.member_type.id"
                @change="changeAge(selectedUsers,$event)"
              />
            </td>
            <!-- <td v-if="user">{{user.member.dep_arname}}</td> -->
            <td
              :value="user.member.user_idno"
              @change="changeAge(selectedUsers,$event)"
            >{{user.member.user_idno}}</td>
            <td>{{user.member.user_desc}}</td>
            <!-- <td>{{user.member_type.name}}</td> -->

            <td>
              <span v-show="user.isEditing != true">{{user.member_type.name}}</span>

              <span v-show="user.isEditing">
                <select
                  :id="'edit-member-type-user-page' + user.member.user_id"
                  v-model="user.member_type.id"
                >
                  <option
                    v-for="memberType in memberTypeOptions"
                    :value="memberType.id"
                    v-bind:key="memberType.id"
                  >{{ memberType.name }}</option>
                </select>
              </span>
            </td>
            <td>
              <span v-show="user.isEditing != true">
                <button
                  type="button"
                  class="btn btn-danger"
                  @click="detachUser(user)"
                >{{trans('messages.action_delete')}}</button>
                <button
                  type="button"
                  class="btn btn-success"
                  v-on:click="editUser(user)"
                >{{ trans('messages.action_edit') }}</button>
              </span>
              <span v-show="user.isEditing">
                <button
                  type="button"
                  class="btn btn-success"
                  v-on:click="updateUser(user, 'page')"
                >{{ trans('messages.action_save') }}</button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <div v-for="user in deletedUsers" :key="user.user_id">
        <input type="hidden" :name="'deleted_members[]'" :value="user.user_id" />
      </div>
    </div>
  </div>
</template>

<style>
</style>


<script>
import vSelect from "vue-select";

export default {
  components: {
    vSelect
  },
  state: {
    user: ""
  },
  props: {
    searchUsersUrl: String,
    committeeMembersUrl: String,
    isNew: String,
    selectedMembersOld: String
  },

  created() {
    this.loadMemberTypes();
    this.loadMembers();
  },
  data() {
    return {
      options: [],
      memberTypeOptions: [],
      users: [],
      isLoading: false,
      currentSelectedUser: null,
      currentSelectedMemberType: null,
      hasPresident: false,
      hasVicePresident: false,
      hasSecretary: false,
      selectedUsers: [],
      deletedUsers: [],
      userQuery: null,
      queryChanged: false,
      isTyping: false
    };
  },
  computed: {},
  watch: {
    userQuery: _.debounce(function() {
      this.isTyping = false;
    }, 1000),
    isTyping: function(value) {
      if (!value) {
        this.searchUsers(this.searchQuery);
      }
    }
  },
  methods: {
    async searchUsers() {
      if (this.userQuery && this.userQuery.length > 0) {
        var url = this.searchUsersUrl + "?query=" + this.userQuery;

        this.queryChanged = true;
        this.isLoading = true;
        console.log("loading");
        console.log(url);

        fetch(url, {
          method: "get",
          headers: new Headers({
            "Content-Type": "application/json",
            "X-Requested-With": "XMLHttpRequest"
          })
        })
          .then(async response => {
            if (this.queryChanged) {
              this.options = await response.json();
              console.log(this.options);
              this.queryChanged = false;
              this.isLoading = false;
            }
          })
          .catch(error => {
            console.log(error);
          });
      }
    },

    getMemberTypeOptions(search, loading) {
      loading(true);
      axios
        .get("/committees/committees/member-types", {
          query: search
        })
        .then(resp => {
          this.memberTypeOptions = resp.data;
          loading(false);
        });
    },

    loadMemberTypes() {
      axios.get("/committees/committees/member-types", {}).then(resp => {
        this.memberTypeOptions = resp.data;
      });
    },

    setUser(user) {
      this.currentSelectedUser = user;
    },
    setMemberType(memberType) {
      this.currentSelectedMemberType = memberType;
    },

    addUser(user) {
      // alert(user.member.user_id);
      let addUserFlag = true;
      let userExist = false;

      var memberTypeId = $("#select-member-type-user-" + user.user_id).val();
      var memberType = this.memberTypeOptions.find(function(obj) {
        return obj.id == memberTypeId;
      });

      this.selectedUsers.map((item, index) => {
        console.log(item);
        // console.log(item.member.user_id)
        // console.log(user.user_id)
        if (item.member_type_id == 1) {
          addUserFlag = false;
        }
        if (user.user_id === item.member.user_id) {
          userExist = true;
        }
      });
      if (!addUserFlag && memberType.id === 1) {
        alert("لا يمكن إضافة أكثر من رئيس للجنة");
      } else if (userExist) {
        alert("لا يمكن إضافة عضو موجود");
      } else {
        if (user != null && memberType != null) {
          var found = this.selectedUsers.some(function(selectedUser) {
            return selectedUser.member.id === user.user_id;
          });

          if (!found) {
            if (this.hasPresident && memberType.id === 1) {
              alert("لا يمكن إضافة أكثر من رئيس للجنة");
              return false;
            }
            if (memberType.id === 1) {
              this.hasPresident = true;
            }
            if (
              this.hasVicePresident &&
              (memberType.id === 4 || memberType.id === 5)
            ) {
              alert("لا يمكن إضافة أكثر من نائب لرئيس اللجنة");
              return false;
            }
            if (memberType.id === 4 || memberType.id === 5) {
              this.hasVicePresident = true;
            }
            if (
              this.hasSecretary &&
              (memberType.id === 2 || memberType.id === 6)
            ) {
              alert("لا يمكن إضافة أكثر من أمين للجنة");
              return false;
            }
            if (memberType.id === 2 || memberType.id === 6) {
              this.hasSecretary = true;
            }
            this.selectedUsers.push({
              member: user,
              member_type: memberType
            });
          }
        }
      }
    },
    loadMembers() {
      if (
        typeof this.selectedMembersOld !== "undefined" &&
        this.selectedMembersOld.length > 0
      ) {
        this.selectedUsers = JSON.parse(this.selectedMembersOld);
      } else {
        if (this.isNew !== "true") {
          axios.get(this.committeeMembersUrl).then(({ data }) => {
            this.selectedUsers = data;
          });
          // console.log(data, "all");
          var a = this.selectedUsers.map((item, index) => {
            console.log(item, "djcsx");
            console.log(item.member.user_id);
            // console.log(user.user_id)
          });

          console.log(a, "dhfjdsf");
          // console.log(item, "djcsx");
        }
      }
    },
    detachUser(user) {
      var r = confirm(lodashLib.get(window.i18n, "messages.are_you_sure"));
      if (r == true) {
        for (var i = 0; i < this.selectedUsers.length; i++) {
          if (this.selectedUsers[i].member.user_id == user.member.user_id) {
            this.selectedUsers.splice(i, 1);
            break;
          }
        }
        this.deletedUsers.push(user.member);
      }
    },
    editUser(user) {
      // alert('sdsd');

      user.isEditing = true;
      // this.refreshSelectedUsers();
    },
    updateUser(user, location) {
      var memberTypeId = $(
        "#edit-member-type-user-" + location + user.member.user_id
      ).val();
      var memberType = this.memberTypeOptions.find(function(obj) {
        return obj.id == memberTypeId;
      });

      user.member_type = memberType;
      user.isEditing = false;
      this.refreshSelectedUsers();
    },
    refreshSelectedUsers() {
      // console.log(user);

      var data = this.selectedUsers;
      this.selectedUsers = [];
      this.selectedUsers = data;
    }
  }
  // mounted() {
  //   this.loadMembers();
  // }
};
</script>
