<template>

           <div class="d-flex flex-row mb-3 justify-content-between text-center topDetails" style="">
                                
                                    <input type="text" name="title" v-model="title" class="form-control sissionplace" placeholder="اضف وصف الأجندة" />
                               <button type="submit" class="btn btn-primary border-0 rounded-0">
                                    <i class="fa fa-plus"></i>
                                    إضافة أجندة</button>
                                      
                                  

                              
            </div>
        

                            
</template>


<script>
import vSelect from "vue-select";


export default {
  components: {
    vSelect
    
  },
  state: {
    
  },
  

  props: {

      title: String
      
    },

  created() {

      
  
   
  },
  data() {
    return {

        isLoading: false,
        token: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        title: null
    
    
    };
  },
  
  
  
  watch: {
    
  },
  methods: {


    //   AddSubject(){
    //       this.isLoading = true
         
    //     console.log(this.$route);

    //   const data = {
    //     idno: this.title,
        
    //   };

    //   axios.post('/committees/13/sessions/23/subjects/store',data, {
    //     headers: {
    //         'content-type': 'application/json',
    //         'X-CSRF-TOKEN': this.token
    //     }
    //   }

    //             ).then((response) => {

    //                 this.isLoading = false;
    //                 swal("تم إنشاء الحساب بنجاح");
                    
    //             }).catch(error => {

                    
    //             });
    //   }

  
    
  }
 
};
</script>



