<template>
    
      <div id="task" class="table-responsive-sm">
          <br />
                    <div class="form-group" v-if="tasksList.length > 0" >                 
            <table class="table ">
                <thead>
                    <tr>
                        <th>التوصية / المهام</th>
                        <th>المسؤول</th>
                        <th>وقت الإستحقاق</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody v-for="(item, index) in tasksList" :key="index">
                        <td style="word-break: break-all;">{{ item.discussions }}</td>
                        <td>{{ item.assignedTo.user_name }}</td>
                        <td>{{ item.timeSelected.name }}</td>
                        <td> 
                            <button type="button" class="btn btn-danger" @click="detachUser(index)">
                                  حذف
                             </button>
                        </td>
                </tbody>
            </table>
                    </div>
            <table class="table">
                                        
                <tbody>

                    <tr>

                            <td colspan="12">
                                                  
                                    <div class="form-group">
                                            <label for="exampleFormControlTextarea1">التوصية / المهام</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1"  v-model="discussions" rows="3"></textarea>
                                    </div>
                                              
                                              
                            </td>
                    </tr>
                                            
                    <tr>
                             <td>
                                               
                                    <div class="form-group">
                                                   
                                        <label class="col-form-label">المسؤول</label>
                                        <div class=" form-group border-0 rounded-0">
                                         
                                            <div>
                                                    <v-select style="background: white"
                                                        v-validate="'required'"
                                                        :debounce="250"
                                                        :options="allUsers"
                                                        :searchable="true"
                                                        v-model="assignedTo"
                                                        label="user_name"
                                                        
                                                       >
                                                        <template slot="option" slot-scope="option">
                                                            <span class="fa" :class="option.icon"></span>
                                                                {{ option.user_name }}
                                                        </template>

                                                       
                                                    </v-select>
                                           
                                             </div>
                                        </div>
                                    </div>
                                                
                            </td>
                            <td>
                                    <div class="form-group">
                                                   
                                        <label class="col-form-label">وقت الإستحقاق</label>
                                        <div class=" form-group border-0 rounded-0">
                                            
                                            <div>
                                                    <v-select style="background: white"
                                                        :debounce="250"
                                                        :options="time"
                                                        :searchable="true"
                                                        v-model="timeSelected"
                                                        label="name">
                                                    </v-select>
                                            </div>
                                        </div>
                                    </div>

                            </td>
                    </tr>

                    <tr>
                            <td colspan="12">
                                <button type="button" class="btn rowfy-addrow btn sendBtn border-0 rounded-0 pl-4 pr-4" v-on:click="addItem()">
                                    <i class="fa fa-plus"></i>
                                     إضافة التوصية
                                </button>

                            </td>

            <input type="hidden" name="selected_items" :value="JSON.stringify(tasksList)">
                    </tr>
                </tbody>
            </table>
                                        
    </div>

                       
                            
</template>


<script>
import vSelect from "vue-select";


export default {
  components: {
    vSelect
    
  },
  state: {
    
  },
  

  props: {
      members: Object,
      time: String,
    
      selectedItems: String,
    
    },

  created() {

      this.users();
  
   
  },
  data() {
    return {
      
    
    tasksList: [],
    deletedTask: [],
    discussions: null,
    assignedTo: null,
    timeSelected: null,
    names:'dd'
   
    
    
    };
  },
  
  
  
  watch: {
    
  },
  methods: {

   
  
  users() {

        var allUsers = [];
            
         //   console.log(this.members);
           allUsers.push({ user_id: 99999, user_name: "جميع الأعضاء" });

            this.members.forEach((item, index) => {
                
                allUsers.push({ user_id: item.user_id, user_name: item.user_name });
            });

            this.allUsers = allUsers;

        
    },



    addItem() {
       
     
       if (this.discussions == null  || this.timeSelected == null || this.assignedTo == null ) {

         this.$swal("خطاء", "يرجى تعبئة جميع الحقول", "error");
       
     } else {
        
       

                var itemObject = { 
                discussions: this.discussions,
                assignedTo: this.assignedTo,
                timeSelected: this.timeSelected
               
                
            };

                this.tasksList.push(itemObject);
                this.discussions = null
                this.assignedTo = null
                this.timeSelected = null
     
     }  
      },

     

      detachUser(index) {

        var r = confirm(lodashLib.get(window.i18n, 'messages.are_you_sure'));
            if (r == true) {
                 this.tasksList.splice(index, 1);
            }
  
       
      },

    
    
  

    
    
  }
 
};
</script>


<style>

#task .dropdown li a {
  
  color: black;
}
</style>

