<template>
  <div class="container mainadd">
    <div class="row">
      <span v-show="isLoading">
        {{ trans('messages.loading') }}
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      </span>
      <div class="col searchuser">
        <input
          type="text"
          id="name"
          name="user_info"
          autocomplete="off"
          v-model="userQuery"
          
          placeholder="البحث بالإسم أو رقم الهوية أو البريد الإلكتروني"
          @input="isTyping=true"
        />
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col mt-2 resulttable">
        <table class="table">
          <thead class="thcus">
            <tr>
              <th>العضو</th>
              <th>المواضيع</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in options" :key="user.user_id">
              <td>
                {{user.user_name}}
                <br />
                {{user.dep_arname}}
              </td>
              <td>
                <ul>
                  <li v-for="subject in subjectsArray">
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        :name="'guests[' + user.user_id + '][subjects][' + subject.id + ']'"
                        :value="subject.id"
                      />
                      <label class="form-check-label mr-2">{{ subject.title }}</label>
                      <input
                        type="hidden"
                        :name="'guests[' + user.user_id + '][user_id]'"
                        :value="user.user_id"
                      />
                      <input type="hidden" name="note" :value="'member'" />
                      <input
                        type="hidden"
                        :name="'guests[' + user.user_id + '][name]'"
                        :value="user.user_name"
                      />
                      <input
                        type="hidden"
                        :name="'guests[' + user.user_id + '][national_id]'"
                        :value="user.user_idno"
                      />
                      <input
                        type="hidden"
                        :name="'guests[' + user.user_id + '][email]'"
                        :value="user.user_mail"
                      />
                    </div>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn sendBtn border-0 rounded-0 ml-2 pl-4 pr-4 closediv" type="submit">إضافة</button>
        <button class="btn nonBtn border-0 rounded-0 ml-2 pl-4 pr-4 closediv" type="reset">إلغاء</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    sessionId: Number,
    searchUrl: String,
    subjects: String
  },
  computed: {
    subjectsArray: function() {
      const subjects = JSON.parse(this.subjects);
      console.log(subjects);
      let list = [];
      for (const key in subjects) {
        list.push({ id: key, title: subjects[key] });
      }
      console.log(list);
      return list;
    }
  },
  data() {
    return {
      options: [],
      userQuery: null,
      isLoading: false,
      searchQuery: "",
      isTyping: false,
      searchResult: [],
      isTyping: false
    };
  },
  watch: {
    userQuery: _.debounce(function() {
      this.isTyping = false;
    }, 1000),
    isTyping: function(value) {
      if (!value) {
        this.searchUsers(this.searchQuery);
      }
    }
  },
  methods: {
    searchUsers() {
      var url = this.searchUrl + "?query=" + this.userQuery;
      this.isLoading = true;

      axios.get(url).then(response => {
        this.options = response.data;
        this.isLoading = false;
      });
    }
  }
};
</script>