@font-face {
    font-family: 'GE Dinar One Medium';
    src: url("../fonts/GEDinarOne-Medium.eot");
    src: url("../fonts/GEDinarOne-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GEDinarOne-Medium.woff2") format("woff2"), url("../fonts/GEDinarOne-Medium.woff") format("woff")
}

@font-face {
    font-family: 'GE Dinar Two Medium';
    src: url("../fonts/GEDinarTwo-Medium.eot");
    src: url("../fonts/GEDinarTwo-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Tajawal-Regular.ttf") format("truetype"), url("../fonts/GEDinarTwo-Medium.svg#GEDinarTwo-Medium") format("svg")
}

button:focus {
    outline: 0 auto -webkit-focus-ring-color
}

a,
.sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .sissionpaper:hover {
    transition-duration: 1s;
    text-decoration: none !important;
    cursor: pointer
}

ul {
    list-style: none;
    padding-right: 0
}

select {
    -webkit-appearance: none !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0px !important;
    background: url(../images/arrow-down.png) #fff no-repeat 12px !important
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox
}

textarea {
    outline: none;
    resize: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border: 1px solid #ccc !important
}

body {
    background: #f8f9fc;
    font-family: "GE Dinar Two Medium", Arial, sans-serif;
    overflow-x: hidden !important;
    direction: rtl;
    background: url(/assets/images/bg.png) no-repeat left #f8f9fc
}


.mim-icons-primary {
    color: #002060 !important;
}

.mim-icons-secondry {
    color: #c39e47 !important;
}

.reports-header {
    background-color: #c39e47;
    color: white;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    direction: rtl;
    text-align: center;
}
.reports-header div {
    float: right;
}
.reports-header h1 {
    font-size: 14pt;
    margin-bottom: 0px !important;
    line-height: 200%;
}
.mim-badge {
    background-color: #002060 !important;
}
input:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent
}

input {
    box-shadow: none;
    border-radius: 0;
    position: relative;
    background: 0 0;
    z-index: 1;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    background: #fcfcfc
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
    -webkit-appearamce: none !important;
    display: none
}

input[type="time"]::-webkit-clear-button,
input[type="time"]::-ms-clear {
    display: none
}

input[type=text]::-ms-clear {
    display: none
}

.acolor {
    color: #fff
}

.concolor {
    color: #002060
}

.sendBtn {
    background: #66bb6a !important;
    color: #fff
}

.nonBtn {
    background: #ee4638 !important;
    color: #fff
}

.submitBtn {
    background: #002060 !important;
    color: #fff
}

.modal-footer {
    background: #fff
}

.minhe {
    min-height: 700px
}

.loginconta {
    top: 0;
    right: 20%;
    margin-top: -7%
}

.loginconta .blmd-wrapp {
    border: 10px solid rgba(217, 217, 217, 0.2);
    height: auto;
    margin-top: 10vh;
    background: #fff;
    padding: 1em 0;
    position: relative;
    transition: height 0.5s
}

.loginconta .blmd-wrapp .blmd-header-wrapp {
    clear: both;
    position: relative
}

.loginconta .blmd-wrapp .blmd-header-wrapp .blmd-switches {
    position: relative;
    z-index: 3
}

.loginconta .blmd-wrapp .blmd-header-wrapp .blmd-switches button {
    position: absolute;
    left: -30px;
    top: 35px;
    transition: all 1s
}

.loginconta .blmd-wrapp .blmd-header-wrapp .blmd-switches>button.active {
    right: 53%;
    top: -45px;
    margin-right: -32px;
    background: #f0a532;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: all .5s
}

.loginconta .blmd-wrapp .blmd-continer {
    padding: 15px;
    height: auto;
    overflow: hidden
}

.loginconta .blmd-wrapp .blmd-continer form {
    transition: all 0.5s
}

.loginconta .blmd-wrapp .blmd-continer form>h1 {
    padding: 15px 0 15px 30px;
    margin-right: -15px;
    margin-left: -15px;
    position: relative
}

.loginconta .blmd-wrapp .blmd-continer form.form-hidden {
    max-height: 0;
    overflow: hidden;
    margin: 0;
    transition: all 0.5s
}

.loginconta .blmd-wrapp .blmd-continer form#Register-form .blmd-form .blmd-line:after {
    background: #ffc066
}

.loginconta .blmd-wrapp .blmd-continer form#Register-form .blmd-form .form-control {
    color: #fff
}

.loginconta .blmd-wrapp .blmd-continer form#Register-form .blmd-form .blmd-label {
    color: #fff
}

.loginconta .blmd-wrapp .blmd-continer form#Register-form.animate {
    -webkit-animation: fadein .75s;
    animation: fadein .75s
}

.loginconta .blmd-wrapp .blmd-continer form#Register-form.animate-out {
    -webkit-animation: fadeout .75s;
    animation: fadeout .75s
}

.loginconta .blmd-wrapp .blmd-color-conatiner {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 0;
    border-bottom: 5px solid #c39e47
}

.loginconta .btn-blmd.btn:focus,
.loginconta .btn-blmd.btn:active,
.loginconta .btn-blmd.btn.active,
.loginconta .btn-blmd.btn:active:focus,
.loginconta .btn-blmd.btn.active:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: none
}

.loginconta .btn-blmd.btn.btn-circle.btn-lg {
    padding: 5px;
    border-radius: 0;
    width: 40px;
    height: 40px;
    left: 0
}

.loginconta .btn-blmd.btn.btn-circle.btn-lg img {
    width: 100%
}

.loginconta .ripple-effect {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.loginconta .ink {
    display: block;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    background: rgba(0, 0, 0, 0.2);
    background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    opacity: 0.5
}

.loginconta .ink.animate {
    -webkit-animation: ripple .75s linear;
    animation: ripple .75s linear
}

@keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5)
    }
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5)
    }
}

.loginconta .ripple-effect-All {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.loginconta .ink-All {
    display: block;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    background: #000;
    opacity: 1
}

.loginconta .ink-All.animate {
    -webkit-animation: ripple-All 1.5s cubic-bezier(0.4, 0, 1, 1);
    animation: ripple-All 1.5s cubic-bezier(0.4, 0, 1, 1)
}

@keyframes ripple-All {
    100% {
        opacity: 1;
        -webkit-transform: scale(2.5);
        transform: scale(2.5)
    }
}

@-webkit-keyframes ripple-All {
    100% {
        opacity: 1;
        -webkit-transform: scale(2.5);
        transform: scale(2.5)
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeout {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.loginconta .blmd-form {
    margin: 3rem 0;
    position: relative;
    width: 100%
}

.loginconta .blmd-form .input-group-addon {
    border-width: 0 0 1px;
    min-width: 42px;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: #2e353b;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0
}

.loginconta .blmd-form .blmd-line {
    display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: top
}

.loginconta .blmd-form .blmd-line.blmd-toggled:after {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.loginconta .blmd-form .blmd-line.blmd-toggled.hf:after {
    display: none
}

.loginconta .blmd-form .blmd-line.blmd-toggled .blmd-label {
    top: -10px;
    font-size: 11px
}

.loginconta .blmd-form .blmd-line:after {
    -webkit-transform: scale(0);
    transform: scale(0);
    background: #096eb9;
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    content: "";
    transition: all;
    transition-duration: .3s
}

.loginconta .blmd-form .form-control {
    box-shadow: none;
    border-radius: 0;
    position: relative;
    background: 0 0;
    z-index: 1;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0
}

.loginconta .blmd-form .blmd-label {
    transition: all;
    transition-duration: .2s;
    position: absolute;
    top: 5px;
    font-weight: 400;
    color: #3c4a44;
    pointer-events: none;
    z-index: 0;
    right: 0;
    white-space: nowrap
}

.loginconta .form-control:focus {
    border-color: #b6b6b6
}

.loginconta .loginIco {
    width: 15%;
    vertical-align: bottom
}

.loginconta .title-img {
    width: 25%;
    vertical-align: bottom
}

.loginconta .title {
    color: #096eb9
}

.loginconta .title-2 {
    color: white
}

.loginconta .forgetPass {
    color: #096eb9
}

.loginconta .btn-success:not(:disabled):not(.disabled):active,
.loginconta .btn-success:not(:disabled):not(.disabled).active,
.loginconta .show>.btn-success.dropdown-toggle {
    border-color: #aa9656
}

.bannerImg {
    width: 100%
}

.visionImg {
    position: absolute;
    z-index: 9;
    left: 20px;
    width: 8%
}

.site-feedback {
    background: #c83b1f;
    z-index: 100000;
    color: #fff;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 55%;
    cursor: pointer;
    position: fixed;
    bottom: 20%;
    display: none;
    left: 15px
}

.rege-btn {
    background: #0c6eb9 !important;
    color: white
}

.rege-btn:hover {
    color: #fff
}

.reger-btn {
    background: #096eb9;
    color: white
}

.lfooter {
    color: #096eb9;
    font-size: 14px
}

.foote_span {
    color: #096eb9;
    font: 600 12px sans-serif
}

.foote_span a,
.foote_span .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .foote_span .sissionPageIn:hover,
.foote_span .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .foote_span .sissionpaper:hover {
    text-decoration: underline
}

.login-fluid {
    border-bottom: 7px solid #c39e47
}

#footer {
    position: relative;
    width: 100%;
    bottom: 0;
    height: 2.5rem;
    background: #ececec;
    color: #a1a1a1;
    z-index: 9999999999;
}

.topMenu {
    box-shadow: -2px 7px 0px 0 rgba(120, 120, 120, 0.21);
!important;
    background: #fff
}

.logobg {
    background: #002060;
    height: 86px
}

.logobg img {
    width: 70px;
}

.logobg i {
    color: white;
    font-size: 26px;
    vertical-align: middle
}

.logobg .lotitle {
!important
}

.logobg .lotitle a,
.logobg .lotitle .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .logobg .lotitle .sissionPageIn:hover,
.logobg .lotitle .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .logobg .lotitle .sissionpaper:hover {
    color: #fff;
    -webkit-text-shadow: 2px 2px #b48a26;
    -moz-text-shadow: 2px 2px #b48a26;
    padding: 13px;
    text-decoration: none;
    font-size: 23px
}

.left-menu {
    margin-top: 25px;
    text-align: left
}

.left-menu a,
.left-menu .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .left-menu .sissionPageIn:hover,
.left-menu .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .left-menu .sissionpaper:hover {
    color: black
}

.left-menu i {
    color: white
}

.left-menu .guid i {
    background: #95c347;
    margin-top: 0
}

.left-menu .user i {
    background: #c39e45;
    margin-top: 0
}

.left-menu .controlP i {
    background: #002060;
    margin-top: 0
}

.left-menu .lang i {
    background: #c39e45;
    margin-top: 0
}

.left-menu .exit i {
    background: #002060;
    -webkit-transform: rotate(541deg);
    transform: rotate(541deg);
    font-size: 18px;
    margin-top: 0
}

.left-menu img {
    width: 70px
}

.left-menu .unLogo {
    width: 110px
}

#menu {
    float: right;
    text-align: right;
    margin: 0;
    padding: 0;
    width: auto
}

#menu ul {
    margin: 0;
    padding: 0;
    width: 100%
}

#menu li {
    list-style-type: none;
    padding: 2px 4px
}

#menu .menu-header {
    cursor: pointer;
    background: #909090;
    color: #fff;
    border-radius: 10px 0 0 0
}

#menu .menu-header ul {
    display: none;
    background: #a3a3a3;
    position: absolute;
    z-index: 999999
}

#menu .menu-header li {
    cursor: pointer;
    text-align: right;
    font-weight: normal
}

#menu .menu-header li:hover {
    background-color: #868686;
    color: #ffffff
}

#menu .menu-header:hover ul {
    display: block;
    z-index: 500;
    max-width: 380px
}

.nav-link {
    color: #6d9529
}

#menu .menu-header li {
    background: #6e6e6e;
    border-right: 5px solid #868686;
    margin: 5px 0
}

#menu .menu-header li a,
#menu .menu-header li .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn #menu .menu-header li .sissionPageIn:hover,
#menu .menu-header li .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn #menu .menu-header li .sissionpaper:hover {
    color: #fff
}

img {
    width: 30px
}

.morecomm {
    background: #c39e45 !important
}

.committee .title {
    background: #c39e45;
    color: white;
    font-size: 19px;
    box-shadow: -2px 7px 0px 0 rgba(120, 120, 120, 0.21);
}

.committee .title a,
.committee .title .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .committee .title .sissionPageIn:hover,
.committee .title .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .committee .title .sissionpaper:hover {
    color: white;
    font-size: 12px;
    border: 1px solid #c39e45;
    background-color: #a58330;
    display: block
}

.committee .title img {
    width: 50px;
    margin-top: 50px
}

.committee .details {
    background: white;
    box-shadow: -2px 7px 0px 0 rgba(120, 120, 120, 0.21);
    height: 239px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.committee .details .carousel-control-next {
    right: 90%;
    top: 0;
    position: absolute;
    display: block;
    left: 25px
}

.committee .details .carousel-control-prev {
    position: absolute;
    display: block;
    left: 5px
}

.committee .details .carousel-control-prev,
.committee .details .carousel-control-next {
    width: 3%;
    opacity: 1
}

.committee .details .carousel-control-prev i,
.committee .details .carousel-control-next i {
    color: #828282
}

.committee .details .carousel-item {
    color: #b58410
}

.committee .details .carousel-item ul li {
    background: #f8f9fc;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.committee .details .carousel-item ul li i {
    color: #b58410
}

.committee .details .carousel-item ul li a,
.committee .details .carousel-item ul li .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .committee .details .carousel-item ul li .sissionPageIn:hover,
.committee .details .carousel-item ul li .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .committee .details .carousel-item ul li .sissionpaper:hover {
    color: black;
    overflow: hidden;
    text-overflow: ellipsis
}

.committee .details .carousel-item .commit-details {
    color: #c39e45;
    font-size: 12px;
    border: 1px solid #c39e45;
    display: block
}

.Signature .title {
    background: #83b129;
    color: white;
    font-size: 15px;
    box-shadow: -2px 7px 0px 0 rgba(120, 120, 120, 0.21);
}

.Signature .title a,
.Signature .title .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .Signature .title .sissionPageIn:hover,
.Signature .title .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .Signature .title .sissionpaper:hover {
    color: white;
    font-size: 12px;
    border: 1px solid #6e9823;
    background-color: #6e9823;
    display: block
}

.Signature .title img {
    width: 50px;
    margin-top: 50px
}

.Signature .details {
    background: #fff;
    box-shadow: -2px 7px 0px 0 rgba(120, 120, 120, 0.21);
    width: 366px;
    max-height: 243px;
    overflow-y: hidden;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.Signature .details ul li {
    background: #f8f9fc;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.Signature .details ul li a,
.Signature .details ul li .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .Signature .details ul li .sissionPageIn:hover,
.Signature .details ul li .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .Signature .details ul li .sissionpaper:hover {
    color: black;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis
}

.Signature .details ul li img {
    background: #c39e45;
    width: 30px;
    border-radius: 5px;
}

.section-title {
    text-align: center;
    margin-top: 0;
    position: relative;
    color: #c93b20
}

.section-title>span:before {
    content: '';
    position: absolute;
    width: 260px;
    height: 2px;
    background-color: #c93b20;
    left: -150px;
    top: 50%
}

.section-title>span:after {
    content: '';
    position: absolute;
    width: 260px;
    height: 2px;
    background-color: #c93b20;
    right: -150px;
    top: 50%
}

.ico-container {
    min-height: 350px
}

.ico-container .commit-tasks,
.ico-container .Administrative-tasks {
    background: #fff;
    box-shadow: -2px 7px 0px 0 rgba(120, 120, 120, 0.21);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.ico-container .commit-tasks .title,
.ico-container .Administrative-tasks .title {
    height: 30%;
    padding: 10px;
    color: #fff;
    top: 30px;
    background: #c39E45;
    font-size: 15px;
    right: -96px;
    margin-bottom: 50px;
    box-shadow: -10px 0px 21px -15px rgba(120, 120, 120, 0.8)
}

.ico-container .commit-tasks .title img,
.ico-container .Administrative-tasks .title img {
    width: 50px
}

.ico-container .Administrative-tasks .title {
    background: #6d9e1b
}

.ico-container .ico a,
.ico-container .ico .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .ico-container .ico .sissionPageIn:hover,
.ico-container .ico .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .ico-container .ico .sissionpaper:hover {
    width: 100px;
    height: 100px;
    display: block;
    color: black
}

.ico-container .ico a img,
.ico-container .ico .sissonallDetails .leftBtn .sissionPageIn:hover img,
.sissonallDetails .leftBtn .ico-container .ico .sissionPageIn:hover img,
.ico-container .ico .sissonallDetails .leftBtn .sissionpaper:hover img,
.sissonallDetails .leftBtn .ico-container .ico .sissionpaper:hover img {
    width: 85% !important
}

.ico-container .ico-h,
.ico-container .ico-h-2,
.ico-container .ico-h-3,
.ico-container .ico-h-4,
.ico-container .ico-h-5,
.ico-container .ico-h-6,
.ico-container .ico-h-7,
.ico-container .ico-h-8,
.ico-container .ico-h-9 {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #01b8cc;
    transition-property: color;
    transition-duration: 0.3s;
    border-radius: 50% !important
}

.ico-container .ico-h:before,
.ico-container .ico-h-2:before,
.ico-container .ico-h-3:before,
.ico-container .ico-h-4:before,
.ico-container .ico-h-5:before,
.ico-container .ico-h-6:before,
.ico-container .ico-h-7:before,
.ico-container .ico-h-8:before,
.ico-container .ico-h-9:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #01b8cc;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 50% !important
}

.ico-container .ico-h:hover,
.ico-container .ico-h-2:hover,
.ico-container .ico-h-3:hover,
.ico-container .ico-h-4:hover,
.ico-container .ico-h-5:hover,
.ico-container .ico-h-6:hover,
.ico-container .ico-h-7:hover,
.ico-container .ico-h-8:hover,
.ico-container .ico-h-9:hover {
    background: #c39E45
}

.ico-container .ico-h:focus,
.ico-container .ico-h-2:focus,
.ico-container .ico-h-3:focus,
.ico-container .ico-h-4:focus,
.ico-container .ico-h-5:focus,
.ico-container .ico-h-6:focus,
.ico-container .ico-h-7:focus,
.ico-container .ico-h-8:focus,
.ico-container .ico-h-9:focus {
    background: #c39E45
}

.ico-container .ico-h:active,
.ico-container .ico-h-2:active,
.ico-container .ico-h-3:active,
.ico-container .ico-h-4:active,
.ico-container .ico-h-5:active,
.ico-container .ico-h-6:active,
.ico-container .ico-h-7:active,
.ico-container .ico-h-8:active,
.ico-container .ico-h-9:active {
    background: #c39E45
}

.ico-container .ico-h:hover:before,
.ico-container .ico-h-2:hover:before,
.ico-container .ico-h-3:hover:before,
.ico-container .ico-h-4:hover:before,
.ico-container .ico-h-5:hover:before,
.ico-container .ico-h-6:hover:before,
.ico-container .ico-h-7:hover:before,
.ico-container .ico-h-8:hover:before,
.ico-container .ico-h-9:hover:before,
.ico-container .ico-h:focus:before,
.ico-container .ico-h-2:focus:before,
.ico-container .ico-h-3:focus:before,
.ico-container .ico-h-4:focus:before,
.ico-container .ico-h-5:focus:before,
.ico-container .ico-h-6:focus:before,
.ico-container .ico-h-7:focus:before,
.ico-container .ico-h-8:focus:before,
.ico-container .ico-h-9:focus:before,
.ico-container .ico-h:active:before,
.ico-container .ico-h-2:active:before,
.ico-container .ico-h-3:active:before,
.ico-container .ico-h-4:active:before,
.ico-container .ico-h-5:active:before,
.ico-container .ico-h-6:active:before,
.ico-container .ico-h-7:active:before,
.ico-container .ico-h-8:active:before,
.ico-container .ico-h-9:active:before {
    -webkit-transform: scale(0);
    transform: scale(0)
}

.ico-container .ico-h-2 {
    background: #c39E45
}

.ico-container .ico-h-2:before,
.ico-container .ico-h-3:before,
.ico-container .ico-h-4:before,
.ico-container .ico-h-5:before,
.ico-container .ico-h-6:before,
.ico-container .ico-h-7:before,
.ico-container .ico-h-8:before,
.ico-container .ico-h-9:before {
    background: #fff;
}

.ico-container .ico-h-2:hover,
.ico-container .ico-h-3:hover,
.ico-container .ico-h-4:hover,
.ico-container .ico-h-5:hover,
.ico-container .ico-h-6:hover,
.ico-container .ico-h-7:hover,
.ico-container .ico-h-8:hover,
.ico-container .ico-h-9:hover {
    background: #4f6798
}

.ico-container .ico-h-3 {
    background: #37309c
}

.ico-container .ico-h-3:before {
    background: #37309c
}

.ico-container .ico-h-3:hover {
    background: #252078
}

.ico-container .ico-h-4 {
    background: #62555c
}

.ico-container .ico-h-4:before {
    background: #62555c
}

.ico-container .ico-h-4:hover {
    background: #493e44
}

.ico-container .ico-h-5 {
    background: #ff6949
}

.ico-container .ico-h-5:before {
    background: #ff6949
}

.ico-container .ico-h-5:hover {
    background: #e84d2c
}

.ico-container .ico-h-6 {
    background: #cfa968
}

.ico-container .ico-h-6:before {
    background: #cfa968
}

.ico-container .ico-h-6:hover {
    background: #b18d4e
}

.ico-container .ico-h-7 {
    background: #e58f0d
}

.ico-container .ico-h-7:before {
    background: #e58f0d
}

.ico-container .ico-h-7:hover {
    background: #bd7302
}

.ico-container .ico-h-8 {
    background: #019889
}

.ico-container .ico-h-8:before {
    background: #019889
}

.ico-container .ico-h-8:hover {
    background: #027b6f
}

.ico-container .ico-h-9 {
    background: #096eb9
}

.ico-container .ico-h-9:before {
    background: #096eb9
}

.ico-container .ico-h-9:hover {
    background: #024e86
}

.dropdown {
    cursor: pointer;
    background: #A99658;
    color: #fff;
    text-align: right
}

.dropdown .no-span {
    background: #fd3e20;
    width: 10px;
    height: 10px;
    position: absolute;
    text-align: center;
    color: #fff;
    left: -7px;
    top: -5px
}

.dropdown i {
    color: white;
    font-size: 20px
}

.dropdown .dropdown-menu {
    width: 410px;
!important;
    padding: 10px
}

.dropdown .dropdown-menu .dropdown-item {
    font-size: 14px;
    width: 100%;
    background: #f8f9fc;
    padding: 2px;
    margin: 5px 0
}

.dropdown .dropdown-menu .dropdown-item img {
    background: #ff6949;
    width: 8%
}

@media screen and (max-width: 700px) {
    .section-title>span:before {
        width: 120px
    }
    .section-title>span:after {
        width: 120px
    }
    .dropdown {
        top: -17% !important
    }
    .dropdown .dropdown-menu {
        left: -17% !important
    }
    .loginconta {
        right: 0
    }
    .visionImg {
        width: 20%
    }
    .logobg {
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg)
    }
    .logobg img {
        width: 60px;
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg)
    }
    .logobg i {
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg)
    }
    .logobg {
        height: 70px
    }
    .left-menu {
        height: 130px !important;
        text-align: center;
        position: inherit
    }
    .left-menu .lang i {
        margin-top: 10px
    }
    .left-menu .exit i {
        margin-top: 10px
    }
    .committee .title img {
        display: inline-block;
        margin-top: 0
    }
    .committee .title a,
    .committee .title .sissonallDetails .leftBtn .sissionPageIn:hover,
    .sissonallDetails .leftBtn .committee .title .sissionPageIn:hover,
    .committee .title .sissonallDetails .leftBtn .sissionpaper:hover,
    .sissonallDetails .leftBtn .committee .title .sissionpaper:hover {
        display: inline-block
    }
    .Signature .title img {
        display: inline-block;
        margin-top: 0
    }
    .Signature .title a,
    .Signature .title .sissonallDetails .leftBtn .sissionPageIn:hover,
    .sissonallDetails .leftBtn .Signature .title .sissionPageIn:hover,
    .Signature .title .sissonallDetails .leftBtn .sissionpaper:hover,
    .sissonallDetails .leftBtn .Signature .title .sissionpaper:hover {
        display: inline-block
    }
    .Signature .details {
        width: 100%
    }
    .Signature .details ul li {
        background: #f8f9fc;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
    .commit-tasks .title,
    .ico-container .Administrative-tasks .title {
        right: 0 !important
    }
    .Administrative-tasks .title {
        right: 0 !important
    }
    .footer {
        position: absolute
    }
}

.notification {
    width: 250px;
    display: block;
    position: fixed;
    z-index: 1000;
    top: 25%;
    background: #fff;
    border-radius: 20px 0 0 20px;
    box-shadow: 0 6px 14px 0 rgba(52, 69, 88, 0.08) !important
}

.notification p {
    display: inline-block;
    vertical-align: text-top;
    margin-bottom: 9px
}

.notification .close {
    float: left;
    color: #818181;
    opacity: 1;
    position: absolute;
    left: 7px;
    top: 16px
}

.notification svg {
    width: 20px;
    height: 28px;
    display: inline-block;
    margin: 2px 0 0 14px
}

.notification svg>path {
    fill: #c39e45
}

.notification--bell {
    -webkit-animation: bell 2s linear infinite;
    animation: bell 2s linear infinite;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%
}

.notification--bellClapper {
    -webkit-animation: bellClapper 2.2s 0.1s linear infinite;
    animation: bellClapper 2.2s 0.1s linear infinite
}

@-webkit-keyframes bell {
    0%,
    25%,
    75%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    40% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    45% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    55% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    60% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
}

@keyframes bell {
    0%,
    25%,
    75%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    40% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    45% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    55% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    60% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
}

@-webkit-keyframes bellClapper {
    0%,
    25%,
    75%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    40% {
        -webkit-transform: translateX(-0.35em);
        transform: translateX(-0.35em)
    }
    45% {
        -webkit-transform: translateX(0.35em);
        transform: translateX(0.35em)
    }
    55% {
        -webkit-transform: translateX(-0.1em);
        transform: translateX(-0.1em)
    }
    60% {
        -webkit-transform: translateX(0.1em);
        transform: translateX(0.1em)
    }
}

@keyframes bellClapper {
    0%,
    25%,
    75%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    40% {
        -webkit-transform: translateX(-0.35em);
        transform: translateX(-0.35em)
    }
    45% {
        -webkit-transform: translateX(0.35em);
        transform: translateX(0.35em)
    }
    55% {
        -webkit-transform: translateX(-0.1em);
        transform: translateX(-0.1em)
    }
    60% {
        -webkit-transform: translateX(0.1em);
        transform: translateX(0.1em)
    }
}

@-webkit-keyframes notification {
    0%,
    25%,
    75%,
    100% {
        opacity: 1
    }
    30%,
    70% {
        opacity: 0
    }
}

@keyframes notification {
    0%,
    25%,
    75%,
    100% {
        opacity: 1
    }
    30%,
    70% {
        opacity: 0
    }
}

.info-ico {
    top: 0;
    position: absolute;
    padding: 10px;
    right: 0
}

.modal {
    background: rgba(14, 42, 71, 0.9)
}

.modal .close {
    margin: -16px;
    background: #c83b1f;
    opacity: 1;
    color: white
}

.modal .modal-footer .btn {
    background: #019889;
    color: #fff
}

.seetings {
    width: 100px;
    border-radius: 6%;
    text-align: center;
    position: fixed;
    left: 15px;
    bottom: 200px;
    padding: 0;
    padding-bottom: 15px;
    cursor: pointer;
    background: #fff;
    box-shadow: -2px 7px 0px 0 rgba(120, 120, 120, 0.21);
}

.seetings #scroll-top {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    color: #507c05;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    transition: all .4s ease;
    font-size: 14px
}

.seetings button {
    color: #c39e45;
    background: none
}

.seetings i {
    vertical-align: middle
}

.mainMenu {
    position: absolute;
    left: 0px;
    background: #002060;
    /*width: 466px;*/
    font-size: 12px;
    float: left;
    margin: 0;
    border-bottom-right-radius: 10px;
}

.mainMenu li {
    border-left: 1px solid #BB954C;
    transition: all 0.5s ease
}

.mainMenu li:hover {
    background: #032871
}

.mainMenu li:last-child {
    border-left: none
}

.mainMenu li a,
.mainMenu li .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .mainMenu li .sissionPageIn:hover,
.mainMenu li .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .mainMenu li .sissionpaper:hover {
    color: #fff;
    text-decoration: none
}

.mainMenu li a img,
.mainMenu li .sissonallDetails .leftBtn .sissionPageIn:hover img,
.sissonallDetails .leftBtn .mainMenu li .sissionPageIn:hover img,
.mainMenu li .sissonallDetails .leftBtn .sissionpaper:hover img,
.sissonallDetails .leftBtn .mainMenu li .sissionpaper:hover img {
    margin-bottom: 5px
}
.mainMenu li img, .mainMenu li i {
    float: right;
    margin-left: 10px !important;
}

.mainMenu li p {
    float: right;
    line-height: 290%;
    margin-bottom: 0px;
}
.searchcon .submitbtn {
    background: #006ebf;
    color: #fff;
    border: 0
}

.searchcon .inpstyl {
    width: 291px;
    background: #fff;
    padding: 2px 10px 1px 0;
    border-bottom: 0
}

.categoryContainer .nav-item {
    width: 50%;
    text-align: center;
    color: #fff !important
}

.categoryContainer .nav-link {
    color: #fff !important;
    border: none !important;
    font-size: 20px
}

.categoryContainer .nav-link img {
    width: 50px
}

.categoryContainer .nav-item {
    background: #c39e47 !important
}

.categoryContainer .nav-item .active {
    background: #c39e47
}

.categoryContainer .maintitle {
    flex-direction: row
}

.categoryContainer .green,
.categoryContainer .red,
.categoryContainer .blue,
.categoryContainer .brown {
    box-shadow: 0 6px 14px 0 rgba(52, 69, 88, 0.08) !important;
    background: #fff;
    border-right: 5px solid #c39e47
}

.categoryContainer .green h5,
.categoryContainer .red h5,
.categoryContainer .blue h5,
.categoryContainer .brown h5 {
    color: #c39e47
}

.categoryContainer .green span,
.categoryContainer .red span,
.categoryContainer .blue span,
.categoryContainer .brown span {
    border: 1px solid #4f8fe3;
    color: #4f8fe3;
    transition: all 0.5s ease
}

.categoryContainer .green span a,
.categoryContainer .red span a,
.categoryContainer .blue span a,
.categoryContainer .brown span a,
.categoryContainer .green span .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .categoryContainer .green span .sissionPageIn:hover,
.categoryContainer .red span .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .categoryContainer .red span .sissionPageIn:hover,
.categoryContainer .blue span .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .categoryContainer .blue span .sissionPageIn:hover,
.categoryContainer .brown span .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .categoryContainer .brown span .sissionPageIn:hover,
.categoryContainer .green span .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .categoryContainer .green span .sissionpaper:hover,
.categoryContainer .red span .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .categoryContainer .red span .sissionpaper:hover,
.categoryContainer .blue span .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .categoryContainer .blue span .sissionpaper:hover,
.categoryContainer .brown span .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .categoryContainer .brown span .sissionpaper:hover {
    text-decoration: none
}

.categoryContainer .green span:hover,
.categoryContainer .red span:hover,
.categoryContainer .blue span:hover,
.categoryContainer .brown span:hover {
    border: 1px solid #cb9d30
}

.categoryContainer .green .details a,
.categoryContainer .red .details a,
.categoryContainer .blue .details a,
.categoryContainer .brown .details a,
.categoryContainer .green .details .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .categoryContainer .green .details .sissionPageIn:hover,
.categoryContainer .red .details .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .categoryContainer .red .details .sissionPageIn:hover,
.categoryContainer .blue .details .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .categoryContainer .blue .details .sissionPageIn:hover,
.categoryContainer .brown .details .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .categoryContainer .brown .details .sissionPageIn:hover,
.categoryContainer .green .details .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .categoryContainer .green .details .sissionpaper:hover,
.categoryContainer .red .details .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .categoryContainer .red .details .sissionpaper:hover,
.categoryContainer .blue .details .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .categoryContainer .blue .details .sissionpaper:hover,
.categoryContainer .brown .details .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .categoryContainer .brown .details .sissionpaper:hover {
    color: #4f8fe3
}

.categoryContainer .red {
    border-right: 5px solid #ee4638
}

.categoryContainer .red h5 {
    color: #ee4638
}

.categoryContainer .blue {
    border-right: 5px solid #5f93e7
}

.categoryContainer .blue h5 {
    color: #5f93e7
}

.categoryContainer .brown {
    border-right: 5px solid #9e8a71
}

.categoryContainer .brown h5 {
    color: #9e8a71
}

.categoryContainer .buttonss {
    border-top: 1px solid #ece9e9
}

.categoryContainer a,
.categoryContainer .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .categoryContainer .sissionPageIn:hover,
.categoryContainer .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .categoryContainer .sissionpaper:hover {
    color: #000
}

.categoryContainer .cate {
    background: #f8f9fc;
    vertical-align: middle;
    border-radius: 0
}

.categoryContainer .cate .badge {
    color: #fff;
    background: #ee4638;
    font: 600 12px sans-serif;
    font-size: 14px;
    margin-right: 15px;
    font-weight: 800;
    vertical-align: middle
}

.categoryContainer .cate img {
    width: 20px
}

.standing,
.temp,
.sub,
.deansiss {
    background: transparent;
    border: #fff 1px solid;
    color: #fff !important;
    font-size: 20px
}

.temp {
    background: transparent;
    border: #fff 1px solid;
}

.sub {
    background: #5f93e7
}

.deansiss {
    background: #9e8a71
}

@media screen and (max-width: 700px) {
    .cate {
        width: 100%;
        text-align: right
    }
    .standing,
    .temp,
    .sub,
    .deansiss {
        width: 100%
    }
    .temp {
        width: 100%
    }
    .sub {
        width: 100%
    }
    .maintitle {
        flex-direction: column !important
    }
}

.CommityDetails .CommityTitle {
    background: #c39e47;
    color: #fff
}

.CommityDetails .maindetails {
    background: #fff;
    box-shadow: 0 6px 14px 0 rgba(52, 69, 88, 0.08) !important;
    text-align: right
}

.CommityDetails .maindetails h4 {
    color: #002060
}

.CommityDetails .maindetails p {
    background: #f8f9fc;
    line-height: 2
}

.CommityDetails .maindetails a,
.CommityDetails .maindetails .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .CommityDetails .maindetails .sissionPageIn:hover,
.CommityDetails .maindetails .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .CommityDetails .maindetails .sissionpaper:hover {
    color: rgb(255, 255, 255)
}

.CommityDetails .maindetails .userspro {
    background: #f8f9fc;
    border-left: 1px solid #e5e6ea;
    border-bottom: 1px solid #e5e6ea
}

.CommityDetails .maindetails .userspro:last-child {
    border-left: none
}

.CommityDetails .maindetails .userspro i {
    color: #ee4638
}

.CommityDetails .maindetails .mainbuttons .comfilesbg {
    background: #c39e47;
    color: #fff
}

.CommityDetails .maindetails .mainbuttons .comachbg {
    background: #c39e47;
    color: #fff
}

.CommityDetails .maindetails .mainbuttons .modal .close {
    padding: 10px
}

.CommityDetails .maindetails .mainbuttons .modal-content {
    top: 40px;
    background: none
}

.CommityDetails .maindetails .mainbuttons .comfiles {
    background: rgba(39, 86, 148, 0.85)
}

.CommityDetails .maindetails .mainbuttons .comfiles h6 {
    background: #4f8fe3;
    color: #fff;
    width: 142px
}

.CommityDetails .maindetails .mainbuttons .comfiles .filess {
    background: #fff;
    box-shadow: 0 6px 14px 0 rgba(52, 69, 88, 0.08) !important
}

.CommityDetails .maindetails .mainbuttons .comfiles .filess i {
    font-size: 28px
}

.CommityDetails .maindetails .mainbuttons .comfiles .filess .title {
    flex-grow: 3;
    text-align: right
}

.CommityDetails .maindetails .mainbuttons .comfiles .filess .down i {
    color: #4f8fe3
}

.CommityDetails .maindetails .mainbuttons .comfiles .filess .trash i {
    color: #ee4638
}

.CommityDetails .maindetails .mainbuttons .achcontainer {
    background: #fff;
    box-shadow: 0 6px 14px 0 rgba(52, 69, 88, 0.08) !important
}

.CommityDetails .maindetails .mainbuttons .achcontainer img {
    width: 20px;
    vertical-align: sub
}

.CommityDetails .maindetails .mainbuttons .achcontainer .down {
    font: 600 12px sans-serif
}

.CommityDetails .maindetails .mainbuttons .comach {
    background: rgba(98, 85, 92, 0.890196)
}

.CommityDetails .maindetails .mainbuttons .comach h5 {
    background: #ee4638;
    color: #fff;
    width: 182px
}

.CommityDetails .maindetails .mainbuttons .comach h6 {
    background: #4f8fe3;
    color: #fff;
    width: 142px
}

.CommityDetails .maindetails .mainbuttons .comach .title {
    flex-grow: 3;
    text-align: right
}

.SissionDetails .Sissiontitle {
    background: #c39e47;
    color: #fff
}

.SissionDetails .Sissiontitle .modal {
    background: rgba(34, 45, 93, 0.9)
}

.SissionDetails .Sissiontitle .modal h5 {
    background: #66bb6a;
    padding: 10px
}

.SissionDetails .Sissiontitle .modal .modal-content {
    background: none
}

.SissionDetails .Sissiontitle .modal .modal-body {
    background: #fff
}

.SissionDetails .Sissiontitle .modal .modal-body .form-check {
    color: #000
}

.SissionDetails .Sissiontitle .modal .modal-body .form-check .form-check-input {
    margin-left: 10px;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox
}

.SissionDetails .Sissiontitle .modal .modal-body {
    background: #f7f7f7;
    text-align: right;
    color: #000;
    padding: 10px;
    font-weight: 600;
    margin: 0 10px
}

.SissionDetails .Sissiontitle .modal .modal-body .form-group img {
    width: 16px
}

.SissionDetails .Sissiontitle .modal .modal-body .form-group .textsty {
    height: 39px
}

.SissionDetails .Sissiontitle .modal .modal-body .form-group .form-control {
    outline: none;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    resize: none
}

.SissionDetails .Sissiontitle .modal .modal-body .form-group .engno {
    font: 600 12px sans-serif;
    font-weight: 700;
    width: 29%;
    margin: 0 20px
}

.SissionDetails .Sissiontitle .modal .modal-footer {
    background: #fff
}

.SissionDetails .Sissiontitle .modal .modal-footer .sendBtn {
    background: #66bb6a
}

.SissionDetails .Sissiontitle .modal .modal-footer .nonBtn {
    background: #ee4638
}

.SissionDetails .Sissiontitle .maintitle h5 {
    margin-top: 10px
}

.SissionDetails .sissionPage {
    background: transparent;
}

.SissionDetails .sissionPage i {
    vertical-align: middle
}

.SissionDetails .maindetails {
    background: #fff;
    box-shadow: 0 6px 14px 0 rgba(52, 69, 88, 0.08) !important;
    color: #fff
}

.SissionDetails .maindetails a,
.SissionDetails .maindetails .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .SissionDetails .maindetails .sissionPageIn:hover,
.SissionDetails .maindetails .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .SissionDetails .maindetails .sissionpaper:hover {
    color: #fff
}

.SissionDetails .maindetails .bigIco a,
.SissionDetails .maindetails .bigIco .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .SissionDetails .maindetails .bigIco .sissionPageIn:hover,
.SissionDetails .maindetails .bigIco .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .SissionDetails .maindetails .bigIco .sissionpaper:hover {
    color: #000
}

.SissionDetails .maindetails .bigIco img {
    width: 120px !important;
    height: 120px
}

.SissionDetails .maindetails .bigIco .grayBtn,
.SissionDetails .maindetails .bigIco .redBtn,
.SissionDetails .maindetails .bigIco .orangBtn {
    background: #a8a8a8;
    transition-duration: 1s
}

.SissionDetails .maindetails .bigIco .grayBtn:hover,
.SissionDetails .maindetails .bigIco .redBtn:hover,
.SissionDetails .maindetails .bigIco .orangBtn:hover {
    opacity: .5
}

.SissionDetails .maindetails .bigIco .orangBtn {
    background: #002060
}

.SissionDetails .maindetails .bigIco .redBtn {
    background: #2aa22a
}

.SissionDetails .maindetails .bigIco .greenBtn {
    background: #5b7a24
}

.SissionDetails .maindetails .bigIco .red2Btn {
    background: #cd4122
}

.badBtn {
    background: #5c5351
}

.SissionDetails .maindetails .bigIco .blueBtn {
    background: #007bff
}

.SissionDetails .maindetails .bigIco .gray2Btn {
    background: #c5c5c5
}

.SissionDetails .maindetails .bigIco .warningBtn {
    background: #ffc107
}

.SissionDetails .maindetails .topDetails {
    background: #fff
}

.SissionDetails .maindetails .topDetails .sissionName {
    background: #cb9d30
}

.SissionDetails .maindetails .topDetails .sissionName3 {
    background: #ffc107
}

.SissionDetails .maindetails .topDetails .sissionPage {
    background: #cb9d30
}

.SissionDetails .maindetails .topDetails .sissionNew {
    background: #66bb6a;
    flex-grow: 1
}

.SissionDetails .maindetails .topDetails .sissionsu {
    background: #c5c5c5;
    flex-grow: 1
}

.SissionDetails .maindetails .topDetails .sissiontoSig {
    background: #cb9d30;
    flex-grow: 1
}

.SissionDetails .maindetails .topDetails .sissiontoToApprov {
    background: #e03004;
    flex-grow: 1
}

.sissiontoToApprov2 {
    background: #007bff;
    flex-grow: 1
}

.sissiontoToApprov3 {
    background: #de5061;
    flex-grow: 1
}

.SissionDetails .maindetails .topDetails .sissiontoToCont {
    background: #507c05;
    flex-grow: 1
}

.SissionDetails .maindetails .topDetails .sissiontoToCont2 {
    background: #cd4122;
    flex-grow: 1
}

.SissionDetails .maindetails .topDetails .sissiontoFInished {
    background: #cb9d30;
    flex-grow: 1
}

.SissionDetails .maindetails .topDetails .sissiontoFInished3 {
    background: #ffc107;
    flex-grow: 1
}

.SissionDetails .maindetails .topDetails .sissionplace {
    border: 2px #e2c889 solid;
    color: #002060;
    flex-grow: 1
}

.SissionDetails .maindetails .topDetails .sissionplace img {
    width: 20px
}

.SissionDetails .maindetails .topDetails .sissionremove i {
    color: #f2405d;
    font-size: 26px
}

.SissionDetails .maindetails .topDetails .sissionTime {
    background: #cb9d30;
    font: 600 12px sans-serif;
    font-size: 16px;
    border-left: 1px solid #cb9d30;
    letter-spacing: 1px
}

.SissionDetails .maindetails .topDetails .sissionTime img {
    width: 20px;
    vertical-align: bottom;
    margin-top: 5px
}

.usertittle {
    color: #000;
    text-align: right
}

.sissonallDetails {
    color: #000;
    background: #f8f9fc
}

.sissonallDetails .userentryTime {
    display: flex;
    flex-grow: 5
}

.sissonallDetails .userentryTime .mainuser {
    background: #fff;
    border-right: 5px solid #c39e47
}

.sissonallDetails .userentryTime .mainuser img {
    width: 14px
}

.sissonallDetails .userentryTime .mainuser .username {
    flex-grow: 1
}

.sissonallDetails .userentryTime .mainuser .timeent {
    color: #c39e47
}

.sissonallDetails .userentryTime .mainuser .timeent span {
    color: #000;
    font: 600 12px sans-serif;
    font-size: 14px
}

.sissonallDetails .leftBtn .sissionPageIn {
    background: #cb9d30
}

.sissonallDetails .leftBtn .sissionPageIn img {
    width: 9px
}

.sissonallDetails .leftBtn .sissionPageIn:hover {
    opacity: .8
}

.sissonallDetails .leftBtn .sissionpaper {
    background: #0a942a
}

.sissonallDetails .leftBtn .sissionpaper img {
    width: 23px
}

.sissonallDetails .leftBtn .sissionpaper:hover {
    opacity: .8
}

.sissonallDetails .leftBtn .sissionappology {
    background: #ee4638;
    color: #fff
}

.sissonallDetails .leftBtn .sissionappology img {
    width: 23px
}

.sissonallDetails .modal {
    background: rgba(45, 33, 60, 0.9)
}

.sissonallDetails .modal .modal-content {
    background-color: rgba(255, 255, 255, 0)
}

.sissonallDetails .modal .modal-body {
    background: #fff
}

.sissonallDetails .modal .modal-body .form-control {
    resize: none;
    background: #efefef;
    border: 0
}

.SessionSchedule {
    background: #ee4638;
    color: #fff
}

.SessionSchedule img {
    width: 23px
}

.Sessiondiss .mainuser {
    background: #edeae3;
    color: #000
}

.Sessiondiss .mainuser .suname {
    flex-grow: 1
}

.Sessiondiss .mainuser .sutime span {
    background: #ee4638;
    color: #fff;
    font: 600 12px sans-serif;
    font-size: 14px
}

.Sessiondiss .comment .form-control {
    resize: none;
    background: #efefef;
    border: 0
}

.lastcommtitle {
    background: #ececec !important
}

.lastcommtitle .sutime {
    font: 600 12px sans-serif;
    font-size: 14px
}

.lastcoment {
    color: #000;
    background: #f8f9fc
}

.previousSubjects {
    color: #000;
    background: #d4d4d4 !important
}

.sourceName {
    background: #11385f
}

.filestab {
    background: #f8f9fc !important;
    color: #11385f;
    text-align: right
}

.filestab img {
    background: #338fea
}

.filestab a,
.filestab .sissonallDetails .leftBtn .sissionPageIn:hover,
.sissonallDetails .leftBtn .filestab .sissionPageIn:hover,
.filestab .sissonallDetails .leftBtn .sissionpaper:hover,
.sissonallDetails .leftBtn .filestab .sissionpaper:hover {
    color: #11385f !important;
    text-decoration: underline !important
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "إختر ملف"
}

.userattenntabel th {
    background-color: #507c05 !important;
    border-color: #507c05 !important;
    border-left: 1px solid #426704 !important
}

.userattenntabel td {
    color: #000;
    border-left: 1px solid #e9eeee !important
}

.userattenntabel label {
    color: #000;
    margin-right: 5px
}

.userattenntabel .form-control {
    outline: none;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    resize: none
}

.absenstabel th {
    background-color: #cb9d30 !important;
    border-color: #cb9d30 !important;
    border-left: 1px solid #bf9328 !important
}

.absenstabel td {
    color: #000;
    border-left: 1px solid #e9eeee !important
}

.absenstabel label {
    color: #000;
    margin-right: 5px
}

.absenstabel .engfo {
    font: 600 12px sans-serif;
    font-size: 14px
}

.abstitle {
    background-color: #774409;
    padding: 10px
}

.form-check-input {
    margin-left: 10px;
    -webkit-appearance: radio;
    -moz-appearance: radio
}

.appologytext {
    display: none
}

.orangBtn {
    background: #fe763a
}

.form-group {
    text-align: right;
    /*background: #f1f1f1;*/
    /*color: #000;*/
    /*padding: 10px;*/
    /*font-weight: 600;*/
    /*margin: 0 10px*/
}

.form-group .form-control {
    resize: none;
    border-radius: 0
}

#recomend .modal-title {
    color: #fe763a
}

#recomend .modal-body {
    text-align: right
}

#recomend .modal-body span {
    color: red
}

.subjecttitle {
    color: #fe763a;
    text-align: center
}

#userCategory {
    width: 100%;
    padding: 5px;
    -webkit-appearance: none !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0px !important;
    background: url(../images/arrow-down.png) #cb9d30 no-repeat 12px !important;
    color: #fff
}

.searchuser {
    background: #fff;
    padding: 5px;
    width: 100%;
    border: 1px solid #e4e4e4
}

.searchuser input {
    background: #fff;
    border: 0
}

.resulttable,
.usersin,
.usersfrom {
    color: #000
}

.resulttable .thcus th,
.usersin .thcus th,
.usersfrom .thcus th {
    color: #292828;
    background-color: #dcdcdc;
    border-color: #65545c;
    padding: 7px;
    border: 1px solid #58444d0f
}

.resulttable td,
.usersin td,
.usersfrom td {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #ececec
}

.usersin h4,
.usersfrom h4 {
    text-align: right;
    background: #cb9d30;
    border-right: 10px solid rgba(0, 0, 0, 0.168627);
    color: #fff;
    padding: 10px;
    font-size: 20px
}

.usersfrom h4 {
    background: #cb9d30
}

.outadd .form-group {
    border: 1px solid #e2e1e1
}

.outadd .form-group label {
    font-size: 14px
}

.outadd .form-group input {
    width: 100%;
    font: 600 12px sans-serif;
    padding: 3px
}

.outadd .form-group .form-check-input {
    width: 2% !important
}

#selsubject {
    width: 100%;
    padding: 5px;
    -webkit-appearance: none !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0px !important;
    background: url(../images/arrow-down.png) #d0d0d0 no-repeat 12px !important;
    color: #312c2c;
    border-color: rgba(166, 166, 166, 0)
}

.sissionpaper {
    background: #002060
}

.sissionpaper img {
    width: 23px
}

.resulttable,
.usersin,
.usersfrom {
    color: #000
}

.resulttable .thcusme th,
.usersin .thcusme th,
.usersfrom .thcusme th {
    color: #ffffff;
    background-color: #c39e47;
    border-color: #c39e47;
    padding: 7px;
    border: 1px solid #c39e47
}

.resulttable td,
.usersin td,
.usersfrom td {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #ececec
}

.resulttable .secondfont,
.usersin .secondfont,
.usersfrom .secondfont {
    font: 600 12px sans-serif;
    font-size: 14px
}

.headtitle {
    color: #002060
}

.head2 {
    color: #338fea
}

.thcusme2 th {
    color: #fff;
    background-color: #b9b9b9;
    border-color: #b9b9b9;
    padding: 7px;
    border: 1px solid #b9b9b9
}

.th3 th {
    background-color: #b9b9b9 !important;
    border-color: #b9b9b9;
    border: 1px solid #b9b9b9
}

.th4 th {
    background-color: #b9b9b9 !important;
    border-color: #b9b9b9;
    border: 1px solid #e8e8e8;
}

.th5 th {
    background-color: #b9b9b9 !important;
    border-color: #b9b9b9;
    border: 1px solid #b9b9b9
}

.th6 th {
    background-color: #b9b9b9 !important;
    border-color: #b9b9b9;
    border: 1px solid #b9b9b9
}

.sour {
    background: #fff
}

@media (min-width: 576px) {
    .sendsign .modal-dialog {
        max-width: 500px;
        margin: 14.75rem auto
    }
}

.nonBtne {
    background: #7f7f7f !important;
    color: #fff
}

.bg_grayiconicheck {
    background: #a8a8a8 !important
}

.bg_orangiconicheck {
    background: #002060 !important
}

.bg_rediconicheck {
    background: #f2405d96 !important
}

.SissionDetails .maindetails .topDetails .sissionPage1 {
    background: #cb9d30;
}

.SissionDetails .maindetails .topDetails .sissionPage2 {
    background: #c5c5c5;
}

.SissionDetails .maindetails .topDetails .sissionPage3 {
    background: #fe763a;
}

.SissionDetails .maindetails .topDetails .sissionPage4 {
    background: #e03004;
}

.SissionDetails .maindetails .topDetails .sissionPage7 {
    background: #507c05;
}

.SissionDetails .maindetails .topDetails .sissionPage5 {
    background: #89d704;
}

.SissionDetails .maindetails .topDetails .sissionPage8 {
    background: #89d704;
}

.SissionDetails .maindetails .topDetails .sissionTime1 {
    background: #66bb6a;
    font: 600 12px sans-serif;
    font-size: 16px;
    border-left: 1px solid #66bb6a;
    letter-spacing: 1px;
}

.SissionDetails .maindetails .topDetails .sissionTime2 {
    background: #c5c5c5;
    font: 600 12px sans-serif;
    font-size: 16px;
    border-left: 1px solid #c5c5c5;
    letter-spacing: 1px;
}

.SissionDetails .maindetails .topDetails .sissionTime3 {
    background: #fe763a;
    font: 600 12px sans-serif;
    font-size: 16px;
    border-left: 1px solid #fe763a;
    letter-spacing: 1px;
}

.SissionDetails .maindetails .topDetails .sissionTime4 {
    background: #e03004;
    font: 600 12px sans-serif;
    font-size: 16px;
    border-left: 1px solid #e03004;
    letter-spacing: 1px;
}

.SissionDetails .maindetails .topDetails .sissionTime5 {
    background: #507c05;
    font: 600 12px sans-serif;
    font-size: 16px;
    border-left: 1px solid #507c05;
    letter-spacing: 1px;
}

.SissionDetails .maindetails .topDetails .sissionTime6 {
    background: #89d704;
    font: 600 12px sans-serif;
    font-size: 16px;
    border-left: 1px solid #89d704;
    letter-spacing: 1px;
}

.btn_001 {
    padding-top: 50px;
}

.btn_002 {
    padding-top: 35px;
}

.title_001 h6 {
    padding-top: 10px;
}

.title_002 h6 {
    padding-top: 10px;
}

.bg-color-f {
    background-color: rgb(241, 241, 241)
}

.tr_bg {
    background-color: #ececec;
}

.tr_m {
    height: 149px;
}

.th_m {
    width: 8%;
}

.table-bordered th,
.table-bordered td {
    border: 2px solid #ffffff;
    font-size: 13px;
    text-align: center;
}

.calendar_m .bg-success,
.calendar_m .bg-secondary,
.calendar_m .bg-secondary {
    padding: 5px 10px;
    border-radius: 15px;
}

.calendar_m .table-bordered {
    border: 2px solid #ffffff;
    background: #f5f5f5;
}

.calendar_m .table thead th {
    vertical-align: bottom;
    border-bottom: 3px solid #ffffff;
}

.calendar_m .table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 0;
}

.btn-primary:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #c39e45;
    border-color: #c39e45;
}

.btn-primary {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:disabled {
    color: #fff;
    background-color: #c39e45;
    border-color: #c39e45;
}


.ico-container .ico-h-g {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #9b9b9b;
    transition-property: color;
    transition-duration: 0.3s;
    border-radius: 50% !important
}

.ico-container .ico-h-g {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #9b9b9b;
    transition-property: color;
    transition-duration: 0.3s;
    border-radius: 50% !important
}

.ico-container .ico-h-g:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #9b9b9b;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 50% !important
}

.ico-container .ico-h-9:hover {
    background: #9b9b9b
}

.ico-container.ico-h-g:active {
    background: #9b9b9b
}

.ico-container .ico-h-g:hover:before,
.ico-container .ico-h-g:focus:before,
.ico-container .ico-h-g:active:before {
    -webkit-transform: scale(0);
    transform: scale(0)
}

.ico-container .ico-h-g:before {
    background: #aaaaaa
}

.ico-container .ico-h-g:hover {
    background: #b6b6b6
}

.ico-container .ico-h-g {
    background: #b6b6b6
}

.ico-container.ico-h-g:before {
    background: #b1b1b1;
}

.ico-container .ico-h-g:hover {
    background: #b1b1b1;
}

.categoryContainer .pull-right a {
    color: #ffffff;
}

.categoryContainer .pull-left a {
    color: #ffffff;
}

.categoryContainer .green h5,
.categoryContainer .red h5,
.categoryContainer .blue h5,
.categoryContainer .brown h5 {
    color: #656565;
}

.pagination {
    margin-top: 20px;
}

.page-item.active .page-link {
    background-color: #c39e47;
    border-color: #c39e47;
}

.page-link {
    color: #6f6f6f;
}

.page-link:hover {
    color: #0e7a00;
}

.Sissiontitle a {
    color: #ffffff;
}

.maindetails h6 {
    color: #e43d3d;
}

.maindetails table {
    color: #575757;
}

.SissionDetails .ownertabelecon a {
    color: #035200;
}

.CommityDetails .maindetails a {
    color: #035200;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #bdbdbd;
}

.showBtn {
    background: #002060 !important;
    color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    text-align: right;
}
.select2-container--default,
.select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-disabled="true"], .select2-container--default .select2-results__option--highlighted[aria-selected] {
    text-align: right;
}